<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of treeData">
    <ng-container *ngTemplateOutlet="recursiveRows; context: { $implicit: item, level: 0 }"></ng-container>
  </ng-container>
  </tbody>
</table>

<ng-template #recursiveRows let-item let-level="level">
  <tr>
    <td [style.padding-left.px]="level * 20">
      <button *ngIf="isExpandable(item)" (click)="toggleExpand(item)">
        {{ item.expanded ? '−' : '+' }}
      </button>
      {{ item.name }}
    </td>
    <td>{{ item.description }}</td>
  </tr>
  <ng-container *ngIf="item.expanded">
    <ng-container *ngFor="let child of item.children">
      <ng-container *ngTemplateOutlet="recursiveRows; context: { $implicit: child, level: level + 1 }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
